@model KWorks.License.Management.Models.DeviceV1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeviceV1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PC_UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PC_UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PC_DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PC_DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
